@import url('https://fonts.googleapis.com/css?family=Questrial|Architects+Daughter|Fredoka+One|Josefin+Sans');

body{
  margin-top: 50px;
  margin-left: 50px;
  background-image: url('fondo2.jpg');
  background-size: cover;
}
#juego{
  text-align: center;
  margin: 20px;
}
#laberinto{
  width: 720px;
  height: 550px;
}


#instrucciones{
  width: 350px;
  font-size: 120%;
  font-family: 'Josefin Sans';
}

button {
  padding: 15px;
  font-family: 'Fredoka One';
  color: #fff;
  background-color: #6496c8;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #27496d;
}

button:hover {
  background-color: #417cb8
}

button:active{
  background-color: #417cb8;
  transform: translateY(2px);
}


#mapa{
  background-color: #B0FA73;
}
#mapa td{
  width: 40px;
  height: 50px;
  padding: 0;
  text-align: center;
}

.ganador{
  padding-top: 120px;
  font-family: 'Questrial';
  font-size: 50px;
}

.muro{
  background-image: url('https://userscontent2.emaze.com/images/aba421ac-f1c7-4734-ab10-a9b3c2c16bc0/543b4f53f5ca95423a5f0abbacd5a07a.png');
  background-size: cover;
}

#empezar{
  background-image: url('persona.png');
  background-position: 0px -62px;
}

#llegada{
  content: url('apple.png');
}

@keyframes arriba {
  0% {background-position: 0px -62px}
  100% {background-position: 156px -62px}
}
#up{
  background-image: url('persona.png');
  animation: arriba 1s steps(4) infinite;
}
@keyframes abajo {
  0% {background-position: 0px -2px}
  100% {background-position: 156px -2px}
}
#down{
  background-image: url('persona.png');
  animation: abajo 1s steps(4) infinite;
}
@keyframes derecha {
  0% {background-position: 0px -182px}
  100% {background-position: 160px -182px}
}
#rigth{
  background-image: url('persona.png');
  animation: derecha 1s steps(4) infinite;
}
@keyframes izquierda{
  0% {background-position: 0px -122px}
  100% {background-position: 160px -122px}
}
#left{
  background-image: url('persona.png');
  animation: izquierda 1s steps(4) infinite;
}
